* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body{
    background: #ffffff;
    }
.conteiner{
    text-align: center;
}
h1{
    font-size: 35px;
}
.container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
  }

.card {
    text-align: center;
    border: 1px solid #6e6e2e;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;

  }

  .error {
    color: red;
  }